.channel {
  background: var(--primary);
  height: 100%;
  min-width: 200px;
  padding: 10px;
}

.channel-header {
  border: 1px solid rgba(200, 187, 200, 0.3);
  color: var(--lunar);
  text-align: center;
}

.channel-label {
  line-height: 2;
  display: inline;
  color: var(--lunar);
}

.channel-label .inner.selected {
  padding: 0 5px;
  border-radius: 5px;
}

.channel-label .inner.selected,
.channel-label .inner.selected:hover {
  background: #0F78D7;
  cursor: pointer;
}

.channel-label .inner:hover {
  background: var(--primary-nav);
  cursor: pointer;
}

.channel-label span {
  float: right;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.channel-label h3 span:hover {
  color: var(--cloudy);
}

.channel-label.unread {
  font-weight: bold;
}

/* channel form*/

.form.channel-form {
  margin: auto;
  box-shadow: none;
}